:root{
    --color-azul: #2a7ae4;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-letra_1: #464646;
    --color-letra_2: #a2a2a2;
    --color-gris: #f5f5f5;
    --color-back: #eaf2fd;
    --color-borde: #c8c8c8
}

*{
    box-sizing: border-box;
    background-color: #fff;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: "Raleway";
    width: 100%;
}