.productos{
    display: block;
    text-align: center;
}

.productos__cabecera{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 14rem;
}

.productos__cabecera a{
    color: var(--color-azul);
    text-decoration: none;
    margin-left: auto;
    padding: 1.5rem 0 0 0;
}

.productos__cabecera img{
    margin-left: 0;
}

.productos__cabecera img{
    display: block;
    align-items: end;
    padding: 0.5rem;
}

.productos__titulo{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
}

.productos-producto{
    margin: 5px;
    padding-bottom: 5%;
}

.productos-producto h4{
    text-align: left;
}

.productos-producto p{
    text-align: left;
}

.productos-producto a{
    display: block;
    text-align: left;
    color: var(--color-azul);
    text-decoration: none;
}

